@charset "UTF-8";


#login-button {
  display: block;
  position: absolute;
  top: 22px;
  right: 40px;
  margin: 10px auto;
  width: 100px;
  padding: 10px;
  color: white;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #9acfe0;
  z-index : 5;
}

#user-profile {
  display: none;
  position: absolute;
  top: 22px;
  right: 10px;
  padding: 10px 15px;
  margin-right:15px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.user-icon {
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: #9acfe0;
  border-radius: 50%;
  margin-right: 5px;
  transform: translateY(100%);
}

.user-id {
  display: inline-block;
  font-size: 15px;
  color: silver;
  cursor: pointer;
  margin-right: 5px;
}

#logout {
  display: none;
  font-size: 15px;
  color: silver;
  cursor: pointer;
}

#user-profile:focus-within .logout {
  display: inline-block;
}

#aside-ul button{
	width:100%;
	font-size:17px;
	padding-left:35px;
	line-height:65px;
	text-align:left;
	font-weight:600;
	color: #4e4e4e;
	text-decoration: none;
	border: none;
	border-bottom: 1px solid #d9d9d9;
}







